Repository openstack/openstack-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-puppet-tarball, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, project-config-dib, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-xenial-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openstack-tox-py27:
  parent: openstack-tox
  timeout: 2400
  description: 'Run unit tests for an OpenStack Python project under cPython version 2.7.
  
  
    Uses tox with the ``py27`` environment.
  
    '
  vars:
    tox_envlist: py27
    bindep_profile: test py27

openstack-tox-py35:
  parent: openstack-tox
  nodeset: ubuntu-xenial
  branches: ^(?!driverfixes/).*$
  timeout: 2400
  description: 'Run unit tests for an OpenStack project under cPython version 3.5.
  
  
    Uses tox with the ``py35`` environment.
  
    '
  vars:
    tox_envlist: py35
    bindep_profile: test py35

openstack-tox-py36:
  parent: openstack-tox
  nodeset: ubuntu-bionic
  timeout: 2400
  description: '
  
    Run unit tests for an OpenStack Python project under cPython
  
    version 3.6.
  
  
    Uses tox with the ``py36`` environment.
  
    '
  vars:
    tox_envlist: py36
    bindep_profile: test py36

openstack-tox-py37:
  parent: openstack-tox
  nodeset: ubuntu-bionic
  timeout: 2400
  description: '
  
    Run unit tests for an OpenStack Python project under cPython
  
    version 3.7.
  
  
    Uses tox with the ``py37`` environment.
  
    '
  vars:
    tox_envlist: py37
    bindep_profile: test py37
    python_version: 3.7

openstack-tox-py38:
  parent: openstack-tox
  nodeset: ubuntu-bionic
  timeout: 2400
  description: '
  
    Run unit tests for an OpenStack Python project under cPython
  
    version 3.8.
  
  
    Uses tox with the ``py38`` environment.
  
    '
  vars:
    tox_envlist: py38
    bindep_profile: test py38
    python_version: 3.8

openstack-tox-py38-arm64:
  parent: openstack-tox-py38
  nodeset: ubuntu-bionic-arm64
  timeout: 3600
  description: '
  
    Run unit tests for an OpenStack Python project under cPython
  
    version 3.8 on top of arm64 architecture.
  
  
    Uses tox with the ``py38`` environment in arm64 platform.
  
    '

openstack-tox-pypy:
  parent: openstack-tox
  description: 'Run unit tests for an OpenStack Python project under PyPy.
  
  
    Uses tox with the ``pypy`` environment.
  
    '
  vars:
    tox_envlist: pypy
    bindep_profile: test pypy

openstack-tox-cover:
  parent: tox-cover
  description: 'Run code coverage tests (Xenial).
  
  
    Uses tox with the ``cover`` environment.
  
  
    This job runs on Xenial for stable/ocata, pike, queens and rocky. This
  
    job is prepared to make sure all stable branches before stable/stein will
  
    keep running on xenial.
  
    '
  ...

openstack-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for an OpenStack Python project.
  
  
    Uses tox with the ``functional`` environment.
  
    '
  vars:
    tox_envlist: functional

openstack-tox-functional-with-sudo:
  parent: openstack-tox-with-sudo
  description: 'Run tox-based functional tests for an OpenStack Python project.
  
  
    Uses tox with the ``functional`` environment.
  
    Sudo access is not revoked.
  
    '
  vars:
    tox_envlist: functional

Add openstack-python3-wallaby-jobs-arm64
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Revert "Switch py36 jobs to centos-8"
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Create nodejs10-doc project templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Refreshes calling of ansible-lint
  test-requirements.txt
  tox.ini
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, project-config-dib, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add non-voting py39 jobs to Wallaby templates
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update readme with updated default swap size
  roles/configure-swap/README.rst
Due: legacy-tempest-dsvm-neutron-src-plugin

Add tox functional job for py3.9
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add periodic stable jobs for Victoria
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add extra Victoria stable periodic jobs
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

build-wheel-cache: Ignore missing .whl when removing
  roles/build-wheel-cache/files/wheel-build.sh
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-xenial-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add Python3 project templates for Xena release
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Build openafs 1.8.7 on centos
  roles/openafs-rpm-package-build/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

translation: Handle renaming of Chinese locales in Django
  roles/prepare-zanata-client/files/common_translation_update.sh
  roles/prepare-zanata-client/files/propose_translation_update.sh
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Fix inline comment for python stable jobs for stable/ussuri onwards
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add a nodejs10-publish-to-npm project template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add openstack-python3-xena-jobs-arm64 template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add Debian Bullseye Wheel cache jobs
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add stable/wallaby to periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Start translations for Wallaby
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Adding project-template for nodejs14
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove xenial-arm64 wheel jobs
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

ubuntu-bionic for openstack-python37-jobs-no-constraints
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Change to focal for openstack-tox-py38-arm64 job
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Retire gearman-plugin jobs
  playbooks/legacy/gearman-plugin-hpi-artifact/post.yaml
  playbooks/legacy/gearman-plugin-hpi-artifact/run.yaml
  playbooks/legacy/gearman-plugin-jenkinsci-upload/run.yaml
  playbooks/legacy/gearman-plugin-maven-build/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add FIPS job
  playbooks/fips/enable-fips.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs: update centos to 1.8.8pre1
  roles/openafs-rpm-package-build/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove ocata from periodic job template of neutron and ceilometer
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

wheel-build: reduce Bullseye build
  roles/build-wheel-cache/files/wheel-build.sh
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-xenial-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Define publish-to-pypi-stable-only template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

add tex-gyre package for tgtermes.sty
  roles/prepare-build-pdf-docs/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add template for lower-constraints on master branch only
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove retired neutron-lbaas and django-openstack-auth from job
  roles/prepare-zanata-client/files/get-modulename.py
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add CentOS 8 Stream wheel builds
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add Python3 project templates for Yoga release
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Run lower-constraints to ubuntu-bionic
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove neutron and networking-midonet Ocata jobs definitions
  playbooks/legacy/neutron-dsvm-api/post.yaml
  playbooks/legacy/neutron-dsvm-api/run.yaml
  playbooks/legacy/periodic-tempest-dsvm-networking-midonet-aio-ml2-full-ocata/post.yaml
  playbooks/legacy/periodic-tempest-dsvm-networking-midonet-aio-ml2-full-ocata/run.yaml
  playbooks/legacy/periodic-tempest-dsvm-networking-midonet-aio-v2-full-ocata/post.yaml
  playbooks/legacy/periodic-tempest-dsvm-networking-midonet-aio-v2-full-ocata/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add stable/xena to periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add OpenStack Charm gate jobs without Python 3.5
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove ocata branch from periodic-stable template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Path conditions:
  openstack-tox-py27: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py35: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py38: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py38-arm64: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pypy: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-cover: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py38: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-snap-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-with-oslo-master-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-oslo-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-neutron-lib-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-ovsdbapp-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-lower-constraints: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  build-openstack-puppet-tarball: any of: ^metadata.json$
  build-openstack-install-guide: any of: ^install-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt
  project-config-gerrit: any of: ^gerrit/acls/.*$, bindep.txt, tools/check_valid_gerrit_projects.py, gerrit/projects.yaml, other-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/check_valid_gerrit_config.sh, tox.ini, zuul/main.yaml
  project-config-grafyaml: any of: ^grafana/.*$, bindep.txt, other-requirements.txt, tox.ini
  project-config-irc-access: any of: bindep.txt, accessbot/channels.yaml, gerritbot/channels.yaml, other-requirements.txt, tools/check_irc_access.py, tools/check_channels_yaml.sh, tools/irc_tests.py, tools/normalize_channels_yaml.py, tools/projectconfig_yamllib.py, tox.ini
  project-config-nodepool: any of: ^nodepool/nodepool.yaml, ^nodepool/nl.*yaml$, bindep.txt, other-requirements.txt, tox.ini
  project-config-dib: any of: ^nodepool/elements/.*$, bindep.txt, other-requirements.txt, tox.ini
  openafs-rpm-package-build: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-7-x86: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-8-x86: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-8-arm64: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-promote: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openstack-infra-extra-integration-xenial: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  openstack-infra-extra-integration-bionic: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  build-openstack-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-wheel-cache-centos-7: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-8: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-buster: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-xenial: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-bionic: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-focal: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-8-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-buster-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-xenial-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-bionic-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-focal-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  legacy-puppet-beaker-rspec: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-beaker-rspec-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-3.6-legacy-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-3.8-legacy-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-4.8-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-neutron-src: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-neutron-src-plugin: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  openstack-tox-py34: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
