Repository openstack/openstack-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-puppet-tarball, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, project-config-dib, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, build-wheel-cache-centos-7, build-wheel-cache-centos-8-stream, build-wheel-cache-centos-9-stream, build-wheel-cache-debian-buster, build-wheel-cache-debian-bullseye, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-stream-arm64, build-wheel-cache-centos-9-stream-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-debian-bullseye-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

openstack-tox-py27:
  parent: openstack-tox
  timeout: 2400
  description: 'Run unit tests for an OpenStack Python project under cPython version 2.7.
  
  
    Uses tox with the ``py27`` environment.
  
    '
  vars:
    tox_envlist: py27
    bindep_profile: test py27

openstack-tox-py35:
  parent: openstack-tox
  nodeset: ubuntu-xenial
  branches: ^(?!driverfixes/).*$
  timeout: 2400
  description: 'Run unit tests for an OpenStack project under cPython version 3.5.
  
  
    Uses tox with the ``py35`` environment.
  
    '
  vars:
    tox_envlist: py35
    bindep_profile: test py35

openstack-tox-py36:
  parent: openstack-tox
  nodeset: ubuntu-bionic
  timeout: 2400
  description: '
  
    Run unit tests for an OpenStack Python project under cPython
  
    version 3.6.
  
  
    Uses tox with the ``py36`` environment.
  
    '
  vars:
    tox_envlist: py36
    bindep_profile: test py36

openstack-tox-py37:
  parent: openstack-tox
  nodeset: ubuntu-bionic
  timeout: 2400
  description: '
  
    Run unit tests for an OpenStack Python project under cPython
  
    version 3.7.
  
  
    Uses tox with the ``py37`` environment.
  
    '
  vars:
    tox_envlist: py37
    bindep_profile: test py37
    python_version: 3.7

openstack-tox-py38:
  parent: openstack-tox
  nodeset: ubuntu-bionic
  timeout: 2400
  description: '
  
    Run unit tests for an OpenStack Python project under cPython
  
    version 3.8.
  
  
    Uses tox with the ``py38`` environment.
  
    '
  vars:
    tox_envlist: py38
    bindep_profile: test py38
    python_version: 3.8

openstack-tox-py38-arm64:
  parent: openstack-tox-py38
  nodeset: ubuntu-bionic-arm64
  timeout: 3600
  description: '
  
    Run unit tests for an OpenStack Python project under cPython
  
    version 3.8 on top of arm64 architecture.
  
  
    Uses tox with the ``py38`` environment in arm64 platform.
  
    '

openstack-tox-pypy:
  parent: openstack-tox
  description: 'Run unit tests for an OpenStack Python project under PyPy.
  
  
    Uses tox with the ``pypy`` environment.
  
    '
  vars:
    tox_envlist: pypy
    bindep_profile: test pypy

openstack-tox-cover:
  parent: tox-cover
  description: 'Run code coverage tests (Xenial).
  
  
    Uses tox with the ``cover`` environment.
  
  
    This job runs on Xenial for stable/ocata, pike, queens and rocky. This
  
    job is prepared to make sure all stable branches before stable/stein will
  
    keep running on xenial.
  
    '
  ...

openstack-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for an OpenStack Python project.
  
  
    Uses tox with the ``functional`` environment.
  
    '
  vars:
    tox_envlist: functional

openstack-tox-functional-with-sudo:
  parent: openstack-tox-with-sudo
  description: 'Run tox-based functional tests for an OpenStack Python project.
  
  
    Uses tox with the ``functional`` environment.
  
    Sudo access is not revoked.
  
    '
  vars:
    tox_envlist: functional

Migrate OpenStack tox base jobs to Ubuntu Jammy (22.04)
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Fixing documentation of the openstack-tox-job to correctly state the node set used
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Fix tox4 error
  tox.ini
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, project-config-dib, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Pin tox<4 for stable branches (<=stable/zed) testing
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove legacy virtualpdu job
  playbooks/legacy/tempest-dsvm-ironic-pxe_snmp-virtualpdu-src/post.yaml
  playbooks/legacy/tempest-dsvm-ironic-pxe_snmp-virtualpdu-src/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove queens branch from periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Clean up queens branch filters
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

FIPS changes to allow FIPS to run on multinode Ubuntu jobs
  playbooks/fips/README.rst
  playbooks/fips/enable-fips.yaml
  playbooks/multinode/enable-multinode.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

openstack-tox-py27 : pre-install python packages
  playbooks/tox/py27.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Fix Installation of py27
  playbooks/tox/py27.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Use py39 or py310 as base job for oslo-master jobs
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Fix playbook to enable fips
  playbooks/fips/enable-fips.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

openstack-tox-functional: pre-install python packages
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add stable/2023.1 to periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Start translations for 2023.1 (Antelope) stable branch
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Prepare the 2023.2 cycle testing job template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove ignored success-url job attribute
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Exercise changes to Gerrit ACL normalization
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

openafs rpm - update to 1.8.9 final
  roles/openafs-rpm-package-build/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Fix installation of py27 on CentOS 7/8
  playbooks/tox/py27.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

flake8 : ignore .cache subdirectory, avoid broken ansible-compat
  test-requirements.txt
  tox.ini
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, project-config-dib, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Re-add the python 3.8 testing in generic job template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Exclude more broken ansile-compat library versions
  test-requirements.txt
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-install-guide, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Pull grafyaml from quay.io
  playbooks/grafana/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Pin ansible-compat<4 until we upgrade ansible-lint
  test-requirements.txt
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-install-guide, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Revert "Pull grafyaml from quay.io"
  playbooks/grafana/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

infra-deb-package-build: run mk-build-deps in separate directory
  roles/infra-deb-package-build/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

openstack-tox-snap-with-sudo: increase timeout
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add openstack-tox-py311 job
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove rocky branch from periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove ocata branch filters
  playbooks/legacy/tempest-dsvm-neutron-full-ocata/post.yaml
  playbooks/legacy/tempest-dsvm-neutron-full-ocata/run.yaml
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
  zuul.d/zuul-legacy-jobs.yaml
  zuul.d/zuul-legacy-project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Adding Python3.11 non voting job for 2023.2 cycle testing
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Continue same set of jobs running for stable/2023.2
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Run project-config-nodepool on debian-bookworm
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Use re2 compatible regexes in branch matchers
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Clean up rocky branch filters
  playbooks/sphinx-docs/neutron-horizon-hack.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

generatepot-rst.sh: Drop UUID filtering
  roles/prepare-zanata-client/files/common_translation_update.sh
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Start translations for 2023.2 (Bobcat) stable branch
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add stable/2023.2 to periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove pypy template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Path conditions:
  openstack-tox-py27: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py35: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py38: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py38-arm64: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pypy: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-cover: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py38: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-snap-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-with-oslo-master-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-oslo-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-neutron-lib-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-ovsdbapp-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-lower-constraints: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  build-openstack-puppet-tarball: any of: ^metadata.json$
  build-openstack-install-guide: any of: ^install-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt
  project-config-gerrit: any of: ^gerrit/acls/.*$, bindep.txt, tools/check_valid_gerrit_projects.py, gerrit/projects.yaml, other-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/check_valid_gerrit_config.sh, tox.ini, zuul/main.yaml
  project-config-grafyaml: any of: ^grafana/.*$, bindep.txt, other-requirements.txt, tox.ini
  project-config-irc-access: any of: bindep.txt, accessbot/channels.yaml, gerritbot/channels.yaml, other-requirements.txt, tools/check_irc_access.py, tools/check_channels_yaml.sh, tools/irc_tests.py, tools/normalize_channels_yaml.py, tools/projectconfig_yamllib.py, tox.ini
  project-config-nodepool: any of: ^nodepool/nodepool.yaml, ^nodepool/nl.*yaml$, bindep.txt, other-requirements.txt, tox.ini
  project-config-dib: any of: ^nodepool/elements/.*$, bindep.txt, other-requirements.txt, tox.ini
  openafs-rpm-package-build: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-7-x86: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-8-x86: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-8-arm64: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-promote: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openstack-infra-extra-integration-xenial: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  openstack-infra-extra-integration-bionic: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  build-openstack-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-wheel-cache-centos-7: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-8-stream: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-9-stream: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-buster: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-bullseye: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-xenial: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-bionic: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-focal: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-8-stream-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-9-stream-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-buster-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-bullseye-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-bionic-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-focal-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  legacy-tempest-dsvm-neutron-src: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-py34: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
