Repository openstack/openstack-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-puppet-tarball, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, project-config-dib, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-xenial-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Path conditions:
  openstack-tox-py27: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py35: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py38: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py38-arm64: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pypy: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-cover: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py38: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-snap-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-with-oslo-master-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-oslo-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-neutron-lib-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-ovsdbapp-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-lower-constraints: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  build-openstack-puppet-tarball: any of: ^metadata.json$
  build-openstack-install-guide: any of: ^install-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt
  project-config-gerrit: any of: ^gerrit/acls/.*$, bindep.txt, tools/check_valid_gerrit_projects.py, gerrit/projects.yaml, other-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/check_valid_gerrit_config.sh, tox.ini, zuul/main.yaml
  project-config-grafyaml: any of: ^grafana/.*$, bindep.txt, other-requirements.txt, tox.ini
  project-config-irc-access: any of: bindep.txt, accessbot/channels.yaml, gerritbot/channels.yaml, other-requirements.txt, tools/check_irc_access.py, tools/check_channels_yaml.sh, tools/irc_tests.py, tools/normalize_channels_yaml.py, tools/projectconfig_yamllib.py, tox.ini
  project-config-nodepool: any of: ^nodepool/nodepool.yaml, ^nodepool/nl.*yaml$, bindep.txt, other-requirements.txt, tox.ini
  project-config-dib: any of: ^nodepool/elements/.*$, bindep.txt, other-requirements.txt, tox.ini
  openafs-rpm-package-build: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-7-x86: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-8-x86: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-8-arm64: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-promote: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openstack-infra-extra-integration-xenial: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  openstack-infra-extra-integration-bionic: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  build-openstack-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-wheel-cache-centos-7: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-8: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-buster: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-xenial: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-bionic: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-focal: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-8-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-buster-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-xenial-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-bionic-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-focal-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  legacy-puppet-beaker-rspec: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-beaker-rspec-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-3.6-legacy-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-3.8-legacy-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-4.8-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-neutron-src: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-neutron-src-plugin: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  openstack-tox-py34: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$

Add swfit to DOC_TARGETS for docs translation
  roles/prepare-zanata-client/files/common_translation_update.sh
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update Yoga job template for updated testing runtime
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update Yoga testing runtime with new updates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Enable support for fips on the jobs
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update ansible-lint to fix deps problem
  roles/build-pdf-docs/tasks/main.yaml
  roles/configure-swap/tasks/main.yaml
  roles/configure-swap/tasks/root.yaml
  test-requirements.txt
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-install-guide, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove centos-8
  playbooks/openafs-rpm-package-build/publish.yaml
  roles/openafs-rpm-package-build/tasks/main.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

wheel-cache: update openstack package for 8-stream
  playbooks/wheel-cache/pre.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-xenial-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

prepare-zanata-client: upgrade pip in venv
  roles/prepare-zanata-client/files/common_translation_update.sh
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

build-wheel-cache: Don't use virtualenv on python3 platforms
  roles/build-wheel-cache/files/wheel-build.sh
  roles/build-wheel-cache/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-xenial-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

wheel-cache: build python3 wheels for CentOS 7
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add Python3 project templates for Zed release
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add nodejs v16 project templates for Zed release
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add non-voting Python 3.10 jobs to Zed template
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add unversioned openstack-python3-jobs
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

trivial: Re-order jobs
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Cap ansible-lint below 6.0
  test-requirements.txt
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-install-guide, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove retired repo puppet-openstackci from job definition
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Move lower constrants job to ubuntu focal
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add stable/yoga to periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add build-wheel-cache jobs for CentOS Stream 9
  playbooks/wheel-cache/pre.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-xenial-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Use the official RDO yoga repo for liberasurecode on centos 9
  playbooks/wheel-cache/pre.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-xenial-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Build CentOS 9 RPM packages
  playbooks/openafs-rpm-package-build/publish.yaml
  roles/openafs-rpm-package-build/tasks/main.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs: fix extraction
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs: fix 9-stream dir typo
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs: there is not centos-9 arm64 build (yet)
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs: add 9-stream ARM64 builds
  playbooks/openafs-rpm-package-build/publish.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs: don't create non -stream directory for arm64
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Set python_version to string values
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Run python3.10 tox jobs on Jammy
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-deb-package-build: add some explainers to README
  roles/openafs-deb-package-build/README.rst
Due: legacy-tempest-dsvm-neutron-src-plugin

openafs-deb-package-build: sign created debs
  playbooks/openafs-deb-package-build/publish.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
  zuul.d/secrets.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-deb-package-build: push to test PPA
  playbooks/openafs-deb-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-deb-packge-build: fix dput argument
  playbooks/openafs-deb-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-deb-package-build: use upstream source
  roles/openafs-deb-package-build/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add openstack-tox-functional-py310 base job
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-deb-build: make sure it matches the distro branches
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-deb-package-build: unrestrict files
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

debs: Add generic infra-deb package build role
  roles/infra-deb-package-build/README.rst
  roles/infra-deb-package-build/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34
