Repository openstack/openstack-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-puppet-tarball, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, project-config-dib, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, build-wheel-cache-centos-7, build-wheel-cache-centos-8-stream, build-wheel-cache-centos-9-stream, build-wheel-cache-debian-buster, build-wheel-cache-debian-bullseye, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-stream-arm64, build-wheel-cache-centos-9-stream-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-debian-bullseye-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Path conditions:
  openstack-tox-py27: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py35: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py38: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py38-arm64: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pypy: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-cover: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py38: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-snap-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-with-oslo-master-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-oslo-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-neutron-lib-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-ovsdbapp-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-lower-constraints: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  build-openstack-puppet-tarball: any of: ^metadata.json$
  build-openstack-install-guide: any of: ^install-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt
  project-config-gerrit: any of: ^gerrit/acls/.*$, bindep.txt, tools/check_valid_gerrit_projects.py, gerrit/projects.yaml, other-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/check_valid_gerrit_config.sh, tox.ini, zuul/main.yaml
  project-config-grafyaml: any of: ^grafana/.*$, bindep.txt, other-requirements.txt, tox.ini
  project-config-irc-access: any of: bindep.txt, accessbot/channels.yaml, gerritbot/channels.yaml, other-requirements.txt, tools/check_irc_access.py, tools/check_channels_yaml.sh, tools/irc_tests.py, tools/normalize_channels_yaml.py, tools/projectconfig_yamllib.py, tox.ini
  project-config-nodepool: any of: ^nodepool/nodepool.yaml, ^nodepool/nl.*yaml$, bindep.txt, other-requirements.txt, tox.ini
  project-config-dib: any of: ^nodepool/elements/.*$, bindep.txt, other-requirements.txt, tox.ini
  openafs-rpm-package-build: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-7-x86: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-8-x86: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-centos-8-arm64: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openafs-rpm-package-build-promote: any of: playbooks/openafs-rpm-package-build, roles/openafs-rpm-package-build
  openstack-infra-extra-integration-xenial: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  openstack-infra-extra-integration-bionic: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  build-openstack-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-wheel-cache-centos-7: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-8-stream: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-9-stream: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-buster: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-bullseye: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-xenial: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-bionic: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-focal: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-8-stream-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-centos-9-stream-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-buster-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-debian-bullseye-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-bionic-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  build-wheel-cache-ubuntu-focal-arm64: any of: playbooks/wheel-cache, roles/build-wheel-cache
  legacy-tempest-dsvm-neutron-src: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-py34: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$

debs: Add vhd-util job
  playbooks/vhd-util-deb-package-build/run.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

debs : add generic PPA publish role, switch openafs to it
  playbooks/openafs-deb-package-build/publish.yaml
  playbooks/openafs-deb-package-build/run.yaml
  roles/infra-deb-ppa-push/README.rst
  roles/infra-deb-ppa-push/tasks/main.yaml
  roles/openafs-deb-package-build/README.rst
  roles/openafs-deb-package-build/tasks/main.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

openafs-deb-package: fix role var typo
  playbooks/openafs-deb-package-build/run.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

vhd-util-deb-package-build: add publish job
  playbooks/vhd-util-deb-package-build/publish.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

infra-deb-ppa-push: push to production repos
  roles/infra-deb-ppa-push/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove legacy pike only jobs for networking projects
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release-ovsdbapp-src/post.yaml
  playbooks/legacy/tempest-dsvm-networking-ovn-ovs-release-ovsdbapp-src/run.yaml
  playbooks/legacy/tempest-dsvm-neutron-dvr-multinode-scenario/post.yaml
  playbooks/legacy/tempest-dsvm-neutron-dvr-multinode-scenario/run.yaml
  playbooks/legacy/tempest-dsvm-neutron-scenario-linuxbridge/post.yaml
  playbooks/legacy/tempest-dsvm-neutron-scenario-linuxbridge/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add openstack-tox-functional-py38-fips job
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add build-wheel-cache jobs for Ubuntu Jammy
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Move master template from py36 to py39
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove py36 lib master testing job
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

wheels: Add "wheel" to build venv
  roles/build-wheel-cache/files/wheel-build.sh
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-wheel-cache-centos-7, build-wheel-cache-centos-8-stream, build-wheel-cache-centos-9-stream, build-wheel-cache-debian-buster, build-wheel-cache-debian-bullseye, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-centos-8-stream-arm64, build-wheel-cache-centos-9-stream-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-debian-bullseye-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Update 'openstack-python3-charm-jobs' to latest Python
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Define "python_version" in the openstack-tox-py39-with-oslo-master
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add openstack-python3-charm-zed-jobs
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove legacy only jobs for fwaas and fwaas-dashboard
  playbooks/legacy/neutron-fwaas-dsvm-fullstack/post.yaml
  playbooks/legacy/neutron-fwaas-dsvm-fullstack/run.yaml
  playbooks/legacy/neutron-fwaas-dsvm-functional/post.yaml
  playbooks/legacy/neutron-fwaas-dsvm-functional/run.yaml
  playbooks/legacy/neutron-fwaas-v1-dsvm-tempest-multinode/post.yaml
  playbooks/legacy/neutron-fwaas-v1-dsvm-tempest-multinode/run.yaml
  playbooks/legacy/neutron-fwaas-v1-dsvm-tempest/post.yaml
  playbooks/legacy/neutron-fwaas-v1-dsvm-tempest/run.yaml
  playbooks/legacy/neutron-fwaas-v2-dsvm-tempest-multinode/post.yaml
  playbooks/legacy/neutron-fwaas-v2-dsvm-tempest-multinode/run.yaml
  playbooks/legacy/neutron-fwaas-v2-dsvm-tempest/post.yaml
  playbooks/legacy/neutron-fwaas-v2-dsvm-tempest/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add nslookup_target to fips jobs
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

grafana : import and screenshot project-config graphs
  playbooks/grafana/files/screenshot.py
  playbooks/grafana/main.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

project-config-grafana: make opendev-buildset-registry soft dep
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Revert "project-config-grafana: make opendev-buildset-registry soft dep"
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

project-config-grafana: collect container logs
  playbooks/grafana/post.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

VPNAAS, FWAAS: remove old jobs from legacy jobs
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

linters: minor cosmetic updates
  roles/build-pdf-docs/tasks/main.yaml
  roles/configure-swap/tasks/root.yaml
  roles/set-service-type-data-fact/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

linters: fix yaml whitespace
  playbooks/grafana/main.yaml
  playbooks/tox-docs/run.yaml
  playbooks/tox-molecule/post.yaml
  playbooks/vhd-util-deb-package-build/run.yaml
  roles/infra-deb-package-build/tasks/main.yaml
  roles/openafs-rpm-package-build/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

linters: update to ansible-lint 6
  .ansible-lint
  test-requirements.txt
  tools/ansible-lint-roles-cache.sh
  tox.ini
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, project-config-dib, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove pike branch from periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

grafana: explicitly validate graphs
  playbooks/grafana/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

project-config-grafyaml: remove job
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add Python3 project templates for 2023.1 Antelope release
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Address breakage due to ansible-lint 6.5
  .ansible-lint
  roles/prepare-zanata-client/tasks/main.yaml
  test-requirements.txt
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-install-guide, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, build-openstack-api-guide, promote-api-guide, build-openstack-api-ref, promote-api-ref, build-openstack-deploy-guide, promote-deploy-guide, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Make python version testing template unversioned
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add missing openstack-tox-py310-arm64 job
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add stable/zed to periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Start translations for Zed stable branch
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add nodejs v18 project templates for 2023.1 release
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Clean up ocata and pike branch filters
  playbooks/legacy/tempest-dsvm-neutron-src/post.yaml
  playbooks/legacy/tempest-dsvm-neutron-src/run.yaml
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Add py310 master template jobs
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Run build-openstack-puppet-tarball on Focal
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

rpm-openafs: bump to 1.8.9pre1
  roles/openafs-rpm-package-build/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openafs-rpm-package-build, openafs-rpm-package-build-centos-7-x86, openafs-rpm-package-build-centos-8-x86, openafs-rpm-package-build-centos-8-arm64, openafs-rpm-package-build-promote, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Remove bindep for announce-release job
  playbooks/release/pre.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Update 2023.1 unit tests job template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-py38, openstack-tox-py38-arm64, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-functional-py38, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-tempest-dsvm-neutron-src, openstack-tox-py34
